header {
    height: 80px;
    padding: 0 2em;
    background-color: var(--header);
    margin-bottom: 20px;

}

header h1 {
    color: var(--orange);
}

header .search {
    gap: 10px;
}

header .search input {
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 0.5em;
    outline-color: var(--orange);
    padding: 1em;
    font-size: 0.9em;
}

header .search button {
    width: 40px;
}

header .search button:hover {

    color: var(--orange);
    font-weight: 600;
}