main {
    padding: 0 2em;
    flex-grow: 1;
    /* margin:0 auto; */

}

main .user-location {
    margin-bottom: 20px;
    color: var(--header);
}

main .user-location h2 {
    font-weight: 400;
    font-size: 1.5em;
}

main .user-location h2 span {
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--orange);
}

main .user-location button {
    height: 40px;
    width: 120px;
}

main .map-funcs {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    height: 20%;
    margin-bottom: 20px;

}

main button {
    background: transparent;
    border: 1px solid var(--header);
    color: var(--header);
    height: 60px;
    width: 100px;
}

main button:hover {
    background-color: var(--btn);
    color: var(--orange);
    border: none;

}

main .locations h3 {
    color: var(--header);
    margin-bottom: 10px;

}

main .locations tr {
    margin-bottom: 0.5em;
}


main .locations button {
    height: 25px;
    width: 35px;
}

main .locations .location-name {
    margin-inline-end: 1em;
}

main .locations .btn-delete {
    border: none;
}

main .locations .btn-delete:hover {
    color: var(--orange);
    font-weight: 600;
    background: transparent;

}

main .locations .btn-go {
    background-color: var(--btn);
    border: none;
    color: var(--white);
}

main .locations .btn-go:hover {
    color: var(--orange);
    font-weight: 600;
    width: 60px;

}

main .locations .btn-go:hover::after {
    content: ' →';
}

main #map {
    width: 500px;
    height: 500px;
    margin-inline-start: 20px;
    border-radius: 0.5em;
    border: 1px solid var(--header)
}